@import url("https://fonts.googleapis.com/css?family=Roboto");
.current {
  color: #5ca772; }

@font-face {
  font-family: Gotham-Book;
  src: url("../fonts/gotham-book.ttf") format("truetype"); }
body {
  height: 66px;
  padding-top: 2px;
  font-family: 'Avenir','Gotham-book', 'Roboto', sans-serif; }

.cusd-logo {
  height: 4rem;
  width: 8rem;
  margin-left: 15px; }

#type_header .heading {
  font-size: 1.5rem;
  font-weight: bold; }

.card-bg {
  background-color: white;
  margin: auto;
  text-align: left;
  height: 430px;
  width: auto;
  box-shadow: 0 4px 20px 6px rgba(0, 0, 0, 0.1), 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
  color: black;
  overflow: hidden;
  font-weight: lighter; }
  .card-bg .card-title {
    font-weight: bold;
    font-size: 1.35rem; }

@media only screen and (max-width: 400px) {
  /* For mobile phones: */
  .card-bg {
    font-size: 0.9rem; }
    .card-bg .card-title {
      font-weight: bold;
      font-size: 1.1rem; }
    .card-bg .card-description {
      font-size: 0.9rem;
      height: 55px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
    .card-bg .about-tag {
      font-size: 0.75rem; }
    .card-bg .type-tag {
      font-size: 0.75rem; } }
@media only screen and (max-width: 1150px) and (min-width: 994px) {
  .card-bg {
    font-size: 0.9rem; }
    .card-bg .card-title {
      font-weight: bold;
      font-size: 1.1rem; }
    .card-bg .card-description {
      font-size: 0.9rem;
      height: 55px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
    .card-bg .about-tag {
      font-size: 0.8rem; }
    .card-bg .type-tag {
      font-size: 0.8rem; } }
@media screen and (min-width: 993px) {
  #footer-wrap {
    margin: 0 40px; } }

.card-bg:hover {
  position: relative;
  box-shadow: 0 30px 20px 6px rgba(0, 0, 0, 0.1), 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px); }

.row .col .content-tag-div {
  color: white;
  padding: 0.0rem;
  font-weight: bolder; }

.main {
  margin-top: 2rem; }

nav {
  background-color: #FFFFFF; }

.about-tag {
  text-align: center;
  font-weight: bold;
  width: 50%;
  padding: 0.5rem !important;
  float: left;
  background: #5ca772; }

.type-tag {
  text-align: center;
  font-weight: bold;
  width: 50%;
  padding: 0.5rem !important;
  float: right;
  background: #c9c9c9; }

.card-img {
  height: 320px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.card-body {
  position: relative;
  height: 110px;
  padding: 1.2rem; }

.card-title {
  font-weight: bold;
  font-size: medium; }

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 45px;
  overflow: hidden; }

.row {
  padding-left: 1.0rem;
  padding-right: 1.0rem; }

.row .col {
  padding: 2.0rem; }

#btn-submit {
  padding-top: 30px !important; }

#index {
  background-color: white; }
  #index p {
    color: #90949C; }

.welcome {
  margin: 3rem 0; }

#del_button {
  background-color: #ef5350; }

#entry_photo {
  width: 380px; }

#articles, #videos {
  font-family: 'Gotham-book', 'Roboto', sans-serif; }
  #articles p, #videos p {
    color: #FFFFFF; }

a.footer-link {
  padding-left: 100px;
  color: #6BAA70; }

nav ul a {
  color: #90949C; }

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  a.footer-link {
    padding-left: 100px; } }
a.footer-link:hover {
  color: #9CC5A1; }

p.right {
  text-align: center; }

p.float-left {
  text-align: center;
  left: 200px; }

nav ul a {
  color: #90949C; }

p.float-right {
  text-align: center;
  margin-left: 95px; }
  @media only screen and (max-width: 1200px) {
    p.float-right {
      margin: 20px 0; } }

/* ----------sidenav ---------*/
/* header text */
.side-nav li {
  color: #6D6D6D;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

.side-nav a {
  transition: 0.3s; }

.side-nav {
  width: 200px !important;
  margin-top: 100px;
  position: fixed;
  box-shadow: none;
  transition: 0.5s; }

.side-nav li > a {
  color: #868686; }

/*# sourceMappingURL=style.css.map */
/* ------js filter search -------*/
.filterDiv {
  display: none; }

.show {
  display: block; }

#container {
  margin-top: 20px;
  overflow: hidden;
  padding-left: 200px; }

.side-nav a:focus {
  background-color: #EFEFEF; }

/*# sourceMappingURL=style.css.map */
