

// backup for older browsers
@import url('https://fonts.googleapis.com/css?family=Roboto');

$navbar-color : #FFFFFF;
$lightgreen: #5ca772;
$lightgrey: #c9c9c9;


// active page highlighter
.current {
  color: $lightgreen;
}
// setup gotham-book font from truetype file
@font-face {
    font-family: Gotham-Book;
    src: url("../fonts/gotham-book.ttf") format("truetype");
}

body{
    // position: fixed;
    height: 66px;
    padding-top: 2px;
    font-family:'Avenir','Gotham-book', 'Roboto', sans-serif;
}

$card-height: 430px;
$card-img-height: 320px;
$card-body-height: 110px;
$large-and-up: 993px;

.cusd-logo{
  height: 4rem;
  width: 8rem;
  margin-left: 15px;
}

#type_header .heading{
  font-size: 1.5rem;
  font-weight: bold;
}
.card-bg {
   background-color: white;
   margin: auto;
   text-align: left;
   height: $card-height;
   width: auto;
   box-shadow: 0 4px 20px 6px rgba(0, 0, 0, 0.1), 0 10px 25px 0 rgba(0, 0, 0, 0.1);
   -webkit-transition: box-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
   transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
   color:black;
   overflow: hidden;
   font-weight: lighter;

   .card-title{
     font-weight: bold;
     font-size: 1.35rem;
   }
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    .card-bg{
      font-size: 0.9rem;
      .card-title{
        font-weight: bold;
        font-size: 1.1rem;
      }
      .card-description{
        font-size: 0.9rem;
        height: 55px;
      }
    }
}

@media only screen and (max-width: 1150px) and (min-width: 994px) {

    .card-bg{
      font-size: 0.9rem;
      .card-title{
        font-weight: bold;
        font-size: 1.1rem;
      }
      .card-description{
        font-size: 0.9rem;
        height: 55px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

    }
}

// looks a bit better with the offset
#footer-wrap{

  @media screen and (min-width: $large-and-up) {
  margin: 0 40px;
  }
}


.card-bg:hover {
  position:relative;
  box-shadow: 0 30px 20px 6px rgba(0, 0, 0, 0.1), 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}

.row .col .content-tag-div{
  color: white;
  padding: 0.0rem;
  font-weight: bolder;
}

.main{
  margin-top: 2rem;
}

nav{
  // line-height: 0px !important;
  background-color: $navbar-color;
}
.about-tag{
  text-align: center;
  font-weight: bold;
  width: 50%;
  padding: 0.5rem !important;
  float: left;
  background: $lightgreen;

}

.type-tag{
  text-align: center;
  font-weight: bold;
  width: 50%;
  padding: 0.5rem !important;
  float: right;
  background: $lightgrey;
}

.card-img{
  height: $card-img-height;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.card-body{
  position: relative;
  height: $card-body-height;
  padding: 1.2rem;
}

.card-title{
  font-weight: bold;
  font-size: medium;

}

.card-description{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 45px;
  overflow: hidden;
}
.row {
  padding-left:1.0rem;
  padding-right:1.0rem;
}

.row .col {
  padding: 2.0rem;
}

#btn-submit{
  padding-top: 30px !important;
}


// Everything on index page under here, this looks different than articles and videos
#index {
  background-color: white;

  p {
    color:  #90949C;
  }

}
.welcome{
  margin: 3rem 0;
}

#del_button{
  background-color: #ef5350;
}
#entry_photo{
  width:380px;
}

// Articles and videos look the same in terms of styling, add styling here
%articles-videos {

  font-family: 'Gotham-book', 'Roboto', sans-serif;
  // background-color: lightgray;

  p {
    color: $navbar-color;
  }

}


#articles {
  @extend %articles-videos;

}
#videos {
  @extend %articles-videos;
}

a.footer-link{
  padding-left:20px;
  color: #6BAA70;
}


$grey: #90949C;


  nav ul a{
    color: $grey;
  }






// jintana added



    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      a.footer-link {
        padding-left: 100px;
      }
   }



    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      .float-left{
        float:left;
      }
   }

    a.footer-link:hover {
      color: #9CC5A1;
      }


  p.right{
    text-align: center;
  }

    //   @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    //     footer{
    //         margin-left:200px;
    //
    //     }
    // }



    p.float-left{
          text-align: center;
          left:200px;
  }

  nav ul a {
    color: #90949C; }


    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      .float-right{
        float:right;
      }
    }

  p.float-right{
    text-align: center;
    margin-right: 35px;
    @media only screen and (max-width: 1200px) {
      margin: 20px 0;
    }
  }





  /* ----------sidenav ---------*/


  /* header text */
  .side-nav li{
    color:#6D6D6D;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

  }

  .side-nav a{
  transition: 0.3s;
  }


  .side-nav{
    width:200px !important;
    margin-top: 100px;
    position: fixed;
    box-shadow: none;
     transition: 0.5s;
  }


  .side-nav li > a{
    color:#868686;
  }

  /*# sourceMappingURL=style.css.map */



  /* ------js filter search -------*/

      @media only screen and (min-width: 1200px) and (max-width: 1600px) {
        .main {
          margin-left: 200px !important; } }


  .filterDiv {
    display: none;
  }

  .show {
    display: block;
  }

  .container {
    margin-top: 20px;
    overflow: hidden;
  }


  .side-nav a:focus {
      background-color: #EFEFEF;
  }
