

// backup for older browsers
@import url('https://fonts.googleapis.com/css?family=Roboto');

$navbar-color : #FFFFFF;

// setup gotham-book font from truetype file
@font-face {
    font-family: Gotham-Book;
    src: url("../fonts/gotham-book.ttf") format("truetype");
}

body{
    // position: fixed;
    height: 66px;
    padding-top: 2px;
}



// Everything on index page under here, this looks different than articles and videos
#index {

  font-family: 'Gotham-book', 'Roboto', sans-serif;
  background-color: lightgray;

  p {
    color: red;
  }
}

// Articles and videos look the same in terms of styling, add styling here
%articles-videos {

  font-family: 'Gotham-book', 'Roboto', sans-serif;
  background-color: lightgray;

  p {
    color: $navbar-color;
  }

}


#articles {
  @extend %articles-videos;
  
}
#videos {
  @extend %articles-videos;
}